In [1]:
import pandas as pd

Load Dataset

In [2]:
# Load dataset
df = pd.read_csv("in-vehicle-coupon-recommendation.csv")

Data Exploration

In [4]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12684 entries, 0 to 12683
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   destination           12684 non-null  object
 1   passanger             12684 non-null  object
 2   weather               12684 non-null  object
 3   temperature           12684 non-null  int64
 4   time                  12684 non-null  object
 5   coupon                12684 non-null  object
 6   expiration            12684 non-null  object
 7   gender                12684 non-null  object
 8   age                   12684 non-null  object
 9   maritalStatus         12684 non-null  object
 10  has_children          12684 non-null  int64
 11  education             12684 non-null  object
 12  occupation            12684 non-null  object
 13  income                12684 non-null  object
 14  car                   108 non-null    object
 15  Bar                   12577 non-null  object
 16  CoffeeHouse           12467 non-null  object
 17  CarryAway             12533 non-null  object
 18  RestaurantLessThan20  12554 non-null  object
 19  Restaurant20To50      12495 non-null  object
 20  toCoupon_GEQ5min      12684 non-null  int64
 21  toCoupon_GEQ15min     12684 non-null  int64
 22  toCoupon_GEQ25min     12684 non-null  int64
 23  direction_same        12684 non-null  int64
 24  direction_opp         12684 non-null  int64
 25  Y                     12684 non-null  int64
dtypes: int64(8), object(18)
memory usage: 2.5+ MB

In [5]:
print(df.isnull().sum())

destination                 0
passanger                   0
weather                     0
temperature                 0
time                        0
coupon                      0
expiration                  0
gender                      0
age                         0
maritalStatus               0
has_children                0
education                   0
occupation                  0
income                      0
car                     12576
Bar                       107
CoffeeHouse               217
CarryAway                 151
RestaurantLessThan20      130
Restaurant20To50          189
toCoupon_GEQ5min            0
toCoupon_GEQ15min           0
toCoupon_GEQ25min           0
direction_same              0
direction_opp               0
Y                           0
dtype: int64

In [6]:
print("\nDuplicate Rows:", df.duplicated().sum())

Duplicate Rows: 74

Removing duplicate rows

In [9]:

df_cleaned = df.drop_duplicates()
print("\nDuplicate Rows:", df_cleaned.duplicated().sum())

Duplicate Rows: 0

Handlng missing values

In [ ]:
#car having most of the data missing
#removing car
df_cleaned = df_cleaned.drop(columns=['car'])

In [11]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12610 entries, 0 to 12683
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   destination           12610 non-null  object
 1   passanger             12610 non-null  object
 2   weather               12610 non-null  object
 3   temperature           12610 non-null  int64
 4   time                  12610 non-null  object
 5   coupon                12610 non-null  object
 6   expiration            12610 non-null  object
 7   gender                12610 non-null  object
 8   age                   12610 non-null  object
 9   maritalStatus         12610 non-null  object
 10  has_children          12610 non-null  int64
 11  education             12610 non-null  object
 12  occupation            12610 non-null  object
 13  income                12610 non-null  object
 14  Bar                   12503 non-null  object
 15  CoffeeHouse           12393 non-null  object
 16  CarryAway             12460 non-null  object
 17  RestaurantLessThan20  12481 non-null  object
 18  Restaurant20To50      12421 non-null  object
 19  toCoupon_GEQ5min      12610 non-null  int64
 20  toCoupon_GEQ15min     12610 non-null  int64
 21  toCoupon_GEQ25min     12610 non-null  int64
 22  direction_same        12610 non-null  int64
 23  direction_opp         12610 non-null  int64
 24  Y                     12610 non-null  int64
dtypes: int64(8), object(17)
memory usage: 2.5+ MB

In [12]:
# Bar                       107
# CoffeeHouse               217
# CarryAway                 151
# RestaurantLessThan20      130
# Restaurant20To50          189
#having less null we can replace values to Unknown in these fields

df_cleaned['Bar'] = df_cleaned['Bar'].fillna('Unknown')
df_cleaned['CoffeeHouse'] = df_cleaned['CoffeeHouse'].fillna('Unknown')
df_cleaned['CarryAway'] = df_cleaned['CarryAway'].fillna('Unknown')
df_cleaned['RestaurantLessThan20'] = df_cleaned['RestaurantLessThan20'].fillna('Unknown')
df_cleaned['Restaurant20To50'] = df_cleaned['Restaurant20To50'].fillna('Unknown')

In [14]:
print(df_cleaned.isnull().sum())

destination             0
passanger               0
weather                 0
temperature             0
time                    0
coupon                  0
expiration              0
gender                  0
age                     0
maritalStatus           0
has_children            0
education               0
occupation              0
income                  0
Bar                     0
CoffeeHouse             0
CarryAway               0
RestaurantLessThan20    0
Restaurant20To50        0
toCoupon_GEQ5min        0
toCoupon_GEQ15min       0
toCoupon_GEQ25min       0
direction_same          0
direction_opp           0
Y                       0
dtype: int64

Saving the cleaned Dataset

In [15]:
df_cleaned.to_csv("cleaned_in_vehicle_coupon.csv", index=False)

ALL TASKS DONE

1)REMOVED THE DUPLICATE ROWS

2)REMOVED CARS FIELD DUE TO MAJOR CHUNK OF DATA MISSING

3)Bar,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50 HAD A FEW MISSING DATA WHICH WAS HANDLED USING IMPUTATION