## Issue 1: Data Cleaning (Handle Missing Values & Duplicates)
- Description: Handle missing values and remove duplicates.
- Solution Steps:
  1. Load the dataset.
  2. Identify missing values.
  3. Impute or remove missing data.
  4. Remove duplicates.
  5. Making Data Clean.

## Importing Necessary Libraries

In [ ]:
import numpy as np
import pandas as pd

## Loading the Dataset and Analysing it

In [ ]:
data = pd.read_csv('in-vehicle-coupon-recommendation.csv') # Reading The Dataset
data.head() # Checking Top 5 values

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,0,1,1
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,0,1,0
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,1
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0

In [ ]:
data.shape # Checking the shape of dataset

(12684, 26)

In [ ]:
data.info() # Information about the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12684 entries, 0 to 12683
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   destination           12684 non-null  object
 1   passanger             12684 non-null  object
 2   weather               12684 non-null  object
 3   temperature           12684 non-null  int64
 4   time                  12684 non-null  object
 5   coupon                12684 non-null  object
 6   expiration            12684 non-null  object
 7   gender                12684 non-null  object
 8   age                   12684 non-null  object
 9   maritalStatus         12684 non-null  object
 10  has_children          12684 non-null  int64
 11  education             12684 non-null  object
 12  occupation            12684 non-null  object
 13  income                12684 non-null  object
 14  car                   108 non-null    object
 15  Bar                   12577 non-null  object
 16  CoffeeHouse           12467 non-null  object
 17  CarryAway             12533 non-null  object
 18  RestaurantLessThan20  12554 non-null  object
 19  Restaurant20To50      12495 non-null  object
 20  toCoupon_GEQ5min      12684 non-null  int64
 21  toCoupon_GEQ15min     12684 non-null  int64
 22  toCoupon_GEQ25min     12684 non-null  int64
 23  direction_same        12684 non-null  int64
 24  direction_opp         12684 non-null  int64
 25  Y                     12684 non-null  int64
dtypes: int64(8), object(18)
memory usage: 2.5+ MB

In [ ]:
data.describe() # Statistics of Dataset

,temperature,has_children,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
count,12684.000000,12684.000000,12684.0,12684.000000,12684.000000,12684.000000,12684.000000,12684.000000
mean,63.301798,0.414144,1.0,0.561495,0.119126,0.214759,0.785241,0.568433
std,19.154486,0.492593,0.0,0.496224,0.323950,0.410671,0.410671,0.495314
min,30.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000
25%,55.000000,0.000000,1.0,0.000000,0.000000,0.000000,1.000000,0.000000
50%,80.000000,0.000000,1.0,1.000000,0.000000,0.000000,1.000000,1.000000
75%,80.000000,1.000000,1.0,1.000000,0.000000,0.000000,1.000000,1.000000
max,80.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000

## Checking for Missing Values

In [ ]:
missing_values = data.isnull().sum() # Checking missing values in each column of dataset
missing_values

destination                 0
passanger                   0
weather                     0
temperature                 0
time                        0
coupon                      0
expiration                  0
gender                      0
age                         0
maritalStatus               0
has_children                0
education                   0
occupation                  0
income                      0
car                     12576
Bar                       107
CoffeeHouse               217
CarryAway                 151
RestaurantLessThan20      130
Restaurant20To50          189
toCoupon_GEQ5min            0
toCoupon_GEQ15min           0
toCoupon_GEQ25min           0
direction_same              0
direction_opp               0
Y                           0
dtype: int64

In [ ]:
data = data.drop(columns=['car']) # Removing car columns as it have many null values

In [ ]:
def fill_missing_values(df):

  categorical_columns = ['Bar', 'CoffeeHouse', 'CarryAway', 'RestaurantLessThan20', 'Restaurant20To50'] # Categorical Columns
  for col in categorical_columns:
    df[col] = df[col].fillna(df[col].mode()[0])  # Filling Categorical values with mode

fill_missing_values(data)

In [ ]:
missing_values = data.isnull().sum() # Checking missing values in each column of dataset
missing_values

destination             0
passanger               0
weather                 0
temperature             0
time                    0
coupon                  0
expiration              0
gender                  0
age                     0
maritalStatus           0
has_children            0
education               0
occupation              0
income                  0
Bar                     0
CoffeeHouse             0
CarryAway               0
RestaurantLessThan20    0
Restaurant20To50        0
toCoupon_GEQ5min        0
toCoupon_GEQ15min       0
toCoupon_GEQ25min       0
direction_same          0
direction_opp           0
Y                       0
dtype: int64

## Checking for Duplicated Values

In [ ]:
duplicates = data.duplicated().sum() # Checking Number of Duplicated Row in the Dataset
duplicates

np.int64(74)

In [ ]:
duplicate_rows = data[data.duplicated()] # Checking Duplicated Rows
duplicate_rows

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
4192,Work,Alone,Sunny,80,7AM,Carry out & Take away,1d,Male,26,Single,...,never,1~3,less1,less1,1,1,1,0,1,1
4236,Work,Alone,Sunny,80,7AM,Carry out & Take away,1d,Male,26,Single,...,gt8,gt8,4~8,less1,1,1,1,0,1,1
4280,Work,Alone,Sunny,80,7AM,Carry out & Take away,1d,Female,26,Single,...,never,4~8,1~3,less1,1,1,1,0,1,1
4324,Work,Alone,Sunny,80,7AM,Carry out & Take away,1d,Female,46,Single,...,never,4~8,1~3,1~3,1,1,1,0,1,1
4409,Work,Alone,Sunny,80,7AM,Carry out & Take away,1d,Female,21,Single,...,never,less1,1~3,never,1,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8511,Home,Alone,Sunny,80,6PM,Bar,2h,Male,46,Married partner,...,1~3,1~3,less1,1~3,1,0,0,1,0,1
8512,Home,Partner,Sunny,30,10PM,Carry out & Take away,2h,Male,46,Married partner,...,1~3,1~3,less1,1~3,1,1,0,0,1,1
8513,Work,Alone,Rainy,55,7AM,Restaurant(<20),2h,Male,46,Married partner,...,1~3,1~3,less1,1~3,1,1,1,0,1,0
8515,Work,Alone,Snowy,30,7AM,Restaurant(20-50),1d,Male,46,Married partner,...,1~3,1~3,less1,1~3,1,1,1,0,1,0
8516,Work,Alone,Sunny,80,7AM,Restaurant(<20),1d,Male,46,Married partner,...,1~3,1~3,less1,1~3,1,0,0,1,0,1

In [ ]:
data.drop_duplicates(inplace=True) # Removing Duplicated Rows

In [ ]:
data.shape # size of dataset got changed from (12685,26) to (12610,25)

(12610, 25)

## Checking For Unique Values

In [ ]:
def unique_values(df):

  for col in df.columns:
    unique_values = df[col].unique()
    print(f"Unique values in column '{col}':")
    print(unique_values)
    print("-" * 50)

unique_values(data)

Unique values in column 'destination':
['No Urgent Place' 'Home' 'Work']
--------------------------------------------------
Unique values in column 'passanger':
['Alone' 'Friend(s)' 'Kid(s)' 'Partner']
--------------------------------------------------
Unique values in column 'weather':
['Sunny' 'Rainy' 'Snowy']
--------------------------------------------------
Unique values in column 'temperature':
[55 80 30]
--------------------------------------------------
Unique values in column 'time':
['2PM' '10AM' '6PM' '7AM' '10PM']
--------------------------------------------------
Unique values in column 'coupon':
['Restaurant(<20)' 'Coffee House' 'Carry out & Take away' 'Bar'
 'Restaurant(20-50)']
--------------------------------------------------
Unique values in column 'expiration':
['1d' '2h']
--------------------------------------------------
Unique values in column 'gender':
['Female' 'Male']
--------------------------------------------------
Unique values in column 'age':
['21' '46' '26' '31' '41' '50plus' '36' 'below21']
--------------------------------------------------
Unique values in column 'maritalStatus':
['Unmarried partner' 'Single' 'Married partner' 'Divorced' 'Widowed']
--------------------------------------------------
Unique values in column 'has_children':
[1 0]
--------------------------------------------------
Unique values in column 'education':
['Some college - no degree' 'Bachelors degree' 'Associates degree'
 'High School Graduate' 'Graduate degree (Masters or Doctorate)'
 'Some High School']
--------------------------------------------------
Unique values in column 'occupation':
['Unemployed' 'Architecture & Engineering' 'Student'
 'Education&Training&Library' 'Healthcare Support'
 'Healthcare Practitioners & Technical' 'Sales & Related' 'Management'
 'Arts Design Entertainment Sports & Media' 'Computer & Mathematical'
 'Life Physical Social Science' 'Personal Care & Service'
 'Community & Social Services' 'Office & Administrative Support'
 'Construction & Extraction' 'Legal' 'Retired'
 'Installation Maintenance & Repair' 'Transportation & Material Moving'
 'Business & Financial' 'Protective Service'
 'Food Preparation & Serving Related' 'Production Occupations'
 'Building & Grounds Cleaning & Maintenance' 'Farming Fishing & Forestry']
--------------------------------------------------
Unique values in column 'income':
['$37500 - $49999' '$62500 - $74999' '$12500 - $24999' '$75000 - $87499'
 '$50000 - $62499' '$25000 - $37499' '$100000 or More' '$87500 - $99999'
 'Less than $12500']
--------------------------------------------------
Unique values in column 'Bar':
['never' 'less1' '1~3' 'gt8' '4~8']
--------------------------------------------------
Unique values in column 'CoffeeHouse':
['never' 'less1' '4~8' '1~3' 'gt8']
--------------------------------------------------
Unique values in column 'CarryAway':
['1~3' '4~8' 'gt8' 'less1' 'never']
--------------------------------------------------
Unique values in column 'RestaurantLessThan20':
['4~8' '1~3' 'less1' 'gt8' 'never']
--------------------------------------------------
Unique values in column 'Restaurant20To50':
['1~3' 'less1' 'never' 'gt8' '4~8']
--------------------------------------------------
Unique values in column 'toCoupon_GEQ5min':
[1]
--------------------------------------------------
Unique values in column 'toCoupon_GEQ15min':
[0 1]
--------------------------------------------------
Unique values in column 'toCoupon_GEQ25min':
[0 1]
--------------------------------------------------
Unique values in column 'direction_same':
[0 1]
--------------------------------------------------
Unique values in column 'direction_opp':
[1 0]
--------------------------------------------------
Unique values in column 'Y':
[1 0]
--------------------------------------------------

In [ ]:
categorical_cols = data.select_dtypes(include=['object']).columns

data[categorical_cols] = data[categorical_cols].apply(lambda x: x.str.lower().str.strip()) # Converting all string values to lower case

In [ ]:
unique_values(data)

Unique values in column 'destination':
['no urgent place' 'home' 'work']
--------------------------------------------------
Unique values in column 'passanger':
['alone' 'friend(s)' 'kid(s)' 'partner']
--------------------------------------------------
Unique values in column 'weather':
['sunny' 'rainy' 'snowy']
--------------------------------------------------
Unique values in column 'temperature':
[55 80 30]
--------------------------------------------------
Unique values in column 'time':
['2pm' '10am' '6pm' '7am' '10pm']
--------------------------------------------------
Unique values in column 'coupon':
['restaurant(<20)' 'coffee house' 'carry out & take away' 'bar'
 'restaurant(20-50)']
--------------------------------------------------
Unique values in column 'expiration':
['1d' '2h']
--------------------------------------------------
Unique values in column 'gender':
['female' 'male']
--------------------------------------------------
Unique values in column 'age':
['21' '46' '26' '31' '41' '50plus' '36' 'below21']
--------------------------------------------------
Unique values in column 'maritalStatus':
['unmarried partner' 'single' 'married partner' 'divorced' 'widowed']
--------------------------------------------------
Unique values in column 'has_children':
[1 0]
--------------------------------------------------
Unique values in column 'education':
['some college - no degree' 'bachelors degree' 'associates degree'
 'high school graduate' 'graduate degree (masters or doctorate)'
 'some high school']
--------------------------------------------------
Unique values in column 'occupation':
['unemployed' 'architecture & engineering' 'student'
 'education&training&library' 'healthcare support'
 'healthcare practitioners & technical' 'sales & related' 'management'
 'arts design entertainment sports & media' 'computer & mathematical'
 'life physical social science' 'personal care & service'
 'community & social services' 'office & administrative support'
 'construction & extraction' 'legal' 'retired'
 'installation maintenance & repair' 'transportation & material moving'
 'business & financial' 'protective service'
 'food preparation & serving related' 'production occupations'
 'building & grounds cleaning & maintenance' 'farming fishing & forestry']
--------------------------------------------------
Unique values in column 'income':
['$37500 - $49999' '$62500 - $74999' '$12500 - $24999' '$75000 - $87499'
 '$50000 - $62499' '$25000 - $37499' '$100000 or more' '$87500 - $99999'
 'less than $12500']
--------------------------------------------------
Unique values in column 'Bar':
['never' 'less1' '1~3' 'gt8' '4~8']
--------------------------------------------------
Unique values in column 'CoffeeHouse':
['never' 'less1' '4~8' '1~3' 'gt8']
--------------------------------------------------
Unique values in column 'CarryAway':
['1~3' '4~8' 'gt8' 'less1' 'never']
--------------------------------------------------
Unique values in column 'RestaurantLessThan20':
['4~8' '1~3' 'less1' 'gt8' 'never']
--------------------------------------------------
Unique values in column 'Restaurant20To50':
['1~3' 'less1' 'never' 'gt8' '4~8']
--------------------------------------------------
Unique values in column 'toCoupon_GEQ5min':
[1]
--------------------------------------------------
Unique values in column 'toCoupon_GEQ15min':
[0 1]
--------------------------------------------------
Unique values in column 'toCoupon_GEQ25min':
[0 1]
--------------------------------------------------
Unique values in column 'direction_same':
[0 1]
--------------------------------------------------
Unique values in column 'direction_opp':
[1 0]
--------------------------------------------------
Unique values in column 'Y':
[1 0]
--------------------------------------------------

## Removing Redundant values

In [ ]:
data = data.drop(columns=['toCoupon_GEQ5min', 'direction_opp'])
# toCoupon_GEQ5min Column only have one value so Drop it
# direction_opp and direction_same are inversely related so drop any one of it

In [ ]:
data.shape

(12610, 23)

In [ ]:
data.to_csv("cleaned-in-vehicle-coupon-recommendation.csv", index=False)