In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("in-vehicle-coupon-recommendation.csv")

In [ ]:
df.sample(5)

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df['age'] = pd.to_numeric(df['age'], errors='coerce')

In [ ]:
df['income'] = df['income'].astype('category')

In [ ]:
df.isnull().sum()
print(df.isnull().sum())

In [ ]:
df[['Bar', 'CoffeeHouse', 'CarryAway', 'RestaurantLessThan20', 'Restaurant20To50']] = df[['Bar', 'CoffeeHouse', 'CarryAway', 'RestaurantLessThan20', 'Restaurant20To50']].apply(pd.to_numeric, errors='coerce')

In [ ]:
(df.isnull().sum()/df.shape[0])*100
print(df.isnull().sum())

In [ ]:
# df.drop(columns=['car'], inplace=True)
df = df = df.dropna(axis=1, thresh=df.shape[0] * 0.5)

In [ ]:
df

In [ ]:
df.duplicated().sum()
print(f'Duplicates before removal: {df.duplicated().sum()}')

In [ ]:
df.drop_duplicates(keep='first', inplace=True) 
print(f'Duplicates after removal: {df.duplicated().sum()}')

In [ ]:
df

In [ ]:
for i in df.select_dtypes(include="object").columns:
    print(df[i].value_counts())
    print("***"*8)

In [ ]:
df['maritalStatus'] = df['maritalStatus'].replace({'Married partner': 'Married', 'Unmarried partner': 'Single'})
df['education'] = df['education'].str.lower()

In [ ]:
df['maritalStatus'] = df['maritalStatus'].astype('category')
df['education'] = df['education'].astype('category')

In [ ]:
df

In [ ]:
for i in df.select_dtypes(include="object").columns:
    print(df[i].value_counts())
    print("***"*10)

In [ ]:
df.describe()

In [ ]:
for i in df.select_dtypes(include="number").columns:
    sns.histplot(data=df,x=i)
    plt.show()

In [ ]:
df.select_dtypes(include="number").columns

In [ ]:

for i in ['temperature', 'has_children', 'toCoupon_GEQ5min',
          'toCoupon_GEQ15min', 'toCoupon_GEQ25min', 'direction_same',
          'direction_opp', 'Y']:
    sns.scatterplot(data=df, x=i, y='age')
    plt.show()

In [ ]:
s=df.select_dtypes(include="number").corr()

In [ ]:
plt.figure(figsize=(15,15))
sns.heatmap(s,annot=True)

In [ ]:
df.isnull().sum()
print(df.isnull().sum())  # Display missing values summary

In [ ]:
df["age"] = df["age"].fillna(df["age"].median())

In [ ]:
def detect_outliers_iqr(df, columns):
    outlier_indices = {}
    for col in columns:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)].index
        outlier_indices[col] = outliers
    return outlier_indices

# Select numerical columns for outlier detection
numerical_cols = df.select_dtypes(include=["int64", "float64"]).columns

# Detect outliers
outliers = detect_outliers_iqr(df, numerical_cols)
print(outliers)

# Display outlier counts after removal
print({col: df[col].isna().sum() for col in ['age', 'toCoupon_GEQ25min', 'direction_same', 'direction_opp']})

In [ ]:
for col in numerical_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    df = df[(df[col] >= lower_bound) & (df[col] <= upper_bound)]

# Display outlier counts after removal
print({col: df[col].isna().sum() for col in ['age', 'toCoupon_GEQ25min', 'direction_same', 'direction_opp']})

In [ ]:
for col in ['age', 'toCoupon_GEQ25min', 'direction_same', 'direction_opp']:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    df[col] = np.where(df[col] < lower_bound, lower_bound, df[col])
    df[col] = np.where(df[col] > upper_bound, upper_bound, df[col])

# Display outlier counts after removal
print({col: df[col].isna().sum() for col in ['age', 'toCoupon_GEQ25min', 'direction_same', 'direction_opp']})

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

for col in ['age', 'toCoupon_GEQ25min', 'direction_same', 'direction_opp']:
    plt.figure(figsize=(8, 4))
    sns.boxplot(x=df[col])
    plt.title(f'Boxplot of {col}')
    plt.show()

plt.show()