In [62]:
import pandas as pd

In [63]:
df = pd.read_csv("/Users/parteek/Desktop/ml-classification/Classification-ml/in-vehicle-coupon-recommendation.csv")

In [64]:
df.head()

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,0,1,1
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,0,1,0
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,1
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0

In [65]:
df.shape

(12684, 26)

In [66]:
df.isnull().sum()

destination                 0
passanger                   0
weather                     0
temperature                 0
time                        0
coupon                      0
expiration                  0
gender                      0
age                         0
maritalStatus               0
has_children                0
education                   0
occupation                  0
income                      0
car                     12576
Bar                       107
CoffeeHouse               217
CarryAway                 151
RestaurantLessThan20      130
Restaurant20To50          189
toCoupon_GEQ5min            0
toCoupon_GEQ15min           0
toCoupon_GEQ25min           0
direction_same              0
direction_opp               0
Y                           0
dtype: int64

In [67]:
# as car column has 12,576 missing values out of 12,684 total rows which is >99% so it is better to drop this column .
df.drop(columns = 'car', inplace=True)

In [68]:
df.dtypes

destination             object
passanger               object
weather                 object
temperature              int64
time                    object
coupon                  object
expiration              object
gender                  object
age                     object
maritalStatus           object
has_children             int64
education               object
occupation              object
income                  object
Bar                     object
CoffeeHouse             object
CarryAway               object
RestaurantLessThan20    object
Restaurant20To50        object
toCoupon_GEQ5min         int64
toCoupon_GEQ15min        int64
toCoupon_GEQ25min        int64
direction_same           int64
direction_opp            int64
Y                        int64
dtype: object

In [69]:
df.nunique()

destination              3
passanger                4
weather                  3
temperature              3
time                     5
coupon                   5
expiration               2
gender                   2
age                      8
maritalStatus            5
has_children             2
education                6
occupation              25
income                   9
Bar                      5
CoffeeHouse              5
CarryAway                5
RestaurantLessThan20     5
Restaurant20To50         5
toCoupon_GEQ5min         1
toCoupon_GEQ15min        2
toCoupon_GEQ25min        2
direction_same           2
direction_opp            2
Y                        2
dtype: int64

In [70]:
# checking number of duplicated rows present
df.duplicated().sum()

74

In [71]:
# Removing all duplicate rows (keeping the first occurrence)
df.drop_duplicates(inplace=True)

In [72]:
df.reset_index(drop=True, inplace=True)

In [73]:
df['Bar'].unique()

array(['never', 'less1', '1~3', 'gt8', nan, '4~8'], dtype=object)

In [74]:
df['Bar'].value_counts()

Bar
never    5178
less1    3438
1~3      2468
4~8      1071
gt8       348
Name: count, dtype: int64

In [75]:
# Replacing missing values with the most common value (mode)
mode_value = df['Bar'].mode()[0]
df['Bar'] = df['Bar'].fillna(mode_value)

In [76]:
mode_value = df['CoffeeHouse'].mode()[0]
df['CoffeeHouse'] = df['CoffeeHouse'].fillna(mode_value)

In [77]:
mode_value = df['CarryAway'].mode()[0]
df['CarryAway'] = df['CarryAway'].fillna(mode_value)

In [78]:
mode_value = df['RestaurantLessThan20'].mode()[0]
df['RestaurantLessThan20'] = df['RestaurantLessThan20'].fillna(mode_value)

In [79]:
mode_value = df['Restaurant20To50'].mode()[0]
df['Restaurant20To50'] = df['Restaurant20To50'].fillna(mode_value)

In [80]:
df.isnull().sum()

destination             0
passanger               0
weather                 0
temperature             0
time                    0
coupon                  0
expiration              0
gender                  0
age                     0
maritalStatus           0
has_children            0
education               0
occupation              0
income                  0
Bar                     0
CoffeeHouse             0
CarryAway               0
RestaurantLessThan20    0
Restaurant20To50        0
toCoupon_GEQ5min        0
toCoupon_GEQ15min       0
toCoupon_GEQ25min       0
direction_same          0
direction_opp           0
Y                       0
dtype: int64

In [81]:
# now data is cleaned here ..
# here for the missing values less than 95% (for the entire column ) i have used made imputation.
# if a specific column had more than 95% missing values then i have considered droping the whole column .
# also i have removed all duplicated rows.

In [82]:
df.to_csv('cleaned_data.csv', index=False)