In [23]:
import pandas as pd

In [24]:
import numpy as np

In [25]:
df = pd.read_csv("in-vehicle-coupon-recommendation.csv")

In [26]:
print(df.isnull().sum)

<bound method DataFrame.sum of        destination  passanger  weather  temperature   time  coupon  \
0            False      False    False        False  False   False
1            False      False    False        False  False   False
2            False      False    False        False  False   False
3            False      False    False        False  False   False
4            False      False    False        False  False   False
...            ...        ...      ...          ...    ...     ...
12679        False      False    False        False  False   False
12680        False      False    False        False  False   False
12681        False      False    False        False  False   False
12682        False      False    False        False  False   False
12683        False      False    False        False  False   False

       expiration  gender    age  maritalStatus  ...  CoffeeHouse  CarryAway  \
0           False   False  False          False  ...        False       True
1           False   False  False          False  ...        False       True
2           False   False  False          False  ...        False       True
3           False   False  False          False  ...        False       True
4           False   False  False          False  ...        False       True
...           ...     ...    ...            ...  ...          ...        ...
12679       False   False  False          False  ...        False      False
12680       False   False  False          False  ...        False      False
12681       False   False  False          False  ...        False      False
12682       False   False  False          False  ...        False      False
12683       False   False  False          False  ...        False      False

       RestaurantLessThan20  Restaurant20To50  toCoupon_GEQ5min  \
0                     False             False             False
1                     False             False             False
2                     False             False             False
3                     False             False             False
4                     False             False             False
...                     ...               ...               ...
12679                 False             False             False
12680                 False             False             False
12681                 False             False             False
12682                 False             False             False
12683                 False             False             False

       toCoupon_GEQ15min  toCoupon_GEQ25min  direction_same  direction_opp  \
0                  False              False           False          False
1                  False              False           False          False
2                  False              False           False          False
3                  False              False           False          False
4                  False              False           False          False
...                  ...                ...             ...            ...
12679              False              False           False          False
12680              False              False           False          False
12681              False              False           False          False
12682              False              False           False          False
12683              False              False           False          False

           Y
0      False
1      False
2      False
3      False
4      False
...      ...
12679  False
12680  False
12681  False
12682  False
12683  False

[12684 rows x 26 columns]>

In [27]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12684 entries, 0 to 12683
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   destination           12684 non-null  object
 1   passanger             12684 non-null  object
 2   weather               12684 non-null  object
 3   temperature           12684 non-null  int64
 4   time                  12684 non-null  object
 5   coupon                12684 non-null  object
 6   expiration            12684 non-null  object
 7   gender                12684 non-null  object
 8   age                   12684 non-null  object
 9   maritalStatus         12684 non-null  object
 10  has_children          12684 non-null  int64
 11  education             12684 non-null  object
 12  occupation            12684 non-null  object
 13  income                12684 non-null  object
 14  car                   108 non-null    object
 15  Bar                   12577 non-null  object
 16  CoffeeHouse           12467 non-null  object
 17  CarryAway             12533 non-null  object
 18  RestaurantLessThan20  12554 non-null  object
 19  Restaurant20To50      12495 non-null  object
 20  toCoupon_GEQ5min      12684 non-null  int64
 21  toCoupon_GEQ15min     12684 non-null  int64
 22  toCoupon_GEQ25min     12684 non-null  int64
 23  direction_same        12684 non-null  int64
 24  direction_opp         12684 non-null  int64
 25  Y                     12684 non-null  int64
dtypes: int64(8), object(18)
memory usage: 2.5+ MB
None

In [28]:
df_cleaned = df.dropna()

In [29]:
print(f"Duplicate Rows: {df.duplicated().sum()}")

Duplicate Rows: 74

In [30]:
df.drop_duplicates(inplace=True)

In [31]:
df.to_csv("cleaned_dataset.csv", index=False)